//
//  Configuration.xcconfig
//  air-raid-map
//
//  Created by Nazar Rudnyk on 09.07.2022.
//

PRODUCT_NAME = УКРМАПА
PRODUCT_BUNDLE_IDENTIFIER = com.nrudnyk.airraidmap

MARKETING_VERSION = 1.1.2
CURRENT_PROJECT_VERSION = 20

IPHONEOS_DEPLOYMENT_TARGET = 14.0
MACOSX_DEPLOYMENT_TARGET = 11.0
TVOS_DEPLOYMENT_TARGET = 15.0
WATCHOS_DEPLOYMENT_TARGET = 7.0
